head,body,html{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
*{
  font-family: proxima-nova,sans-serif;
}
.back{
  background-color:rgb(0, 0, 0);
   height: 75px;
   width: 100%;
   position: fixed;
}
.up-cont{
  display: flex;
}
.up{
  margin: 0 7.25%;
}
.text-up-cont{
  text-align: center;
  margin: 0;
  font-size: 28px;
  color:  rgb(255,255,1);
  padding: 20px 5px 23px 5px;
}
.up-cont p:hover{
  color: black;
  transition: all 0.5s ease-out 0s;
  background: rgb(255,255,1);  
}

h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
  margin: 0;
}
p{
  font-size: 20px;
  margin: 0;
}
.zaq{
  width: 20%;
  height: 25%;
  
}

.p1{
  position: absolute;
width: 12.5%;
left: 70%;
}
.p2{
  position: absolute;
  width: 12.5%;
  left: 50%;
  top: 30%;
}
.p3{
  position: absolute;
  width: 12.5%;
  left: 60%;
  top: 28%;
}



/*Если что двигай хуйню с низу если фотки будут хуйня 