html,head,body{
  margin: 0;
  padding: 0;
}
*{
  font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.up-cont{
  display: flex;
  padding-top: 10px;
}
.up-cont p:hover{
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-out 0s;
  border-bottom: 3px solid blue;
  padding-bottom: 15px;
  
}
.back{
  background-color:rgb(125, 170, 204);
   height: 65px;
   width: 100%;
   position: fixed;
   border-bottom: 1px solid rgb(0, 0, 0); 
  }
.up{
  margin: 0 7.25%;
}
.text-up-cont{
  text-align: center;
  margin: 0;
  font-size: 28px;
  color: black;
}

h3{
  text-align: center;
  font-size: 30px;
  margin: 30px 0 0 0 ;
}
h4{
  text-align: center;
  font-size: 25px;
}
.zxc{
  font-size: 20px;
  text-align: center;
}
.ggg{
  width: 150px;
  position: absolute;
}